
FitResults
fit-results/
*.dat
*.json
*.ipynb
*.yaml
*.txt
*.feather
*.bz2
*.zip
*.svg*

# default build destination
/build/
CMakeCache.txt
CMakeFiles/

# build objects
*.[aod]
*.pcm
*.so
*.dylib
*.dll
*.exe

# temporary python files
__pycache__/
.ipynb_checkpoints
*.egg*
*.py[cod]
*.manifest
*.spec
dist
pyvenv.cfg
pip-log.txt
pip-delete-this-directory.txt
bindings/python/venv/

# testing output
.pytest_cache
.cache
.coverage*
coverage.xml
.mypy_cache

# editor configuration
.vscode/
.idea/
nbproject/

# misc
*.bak
*.png
*.svg
*.pdf
*.root

